body {
  margin: 0;
  font-family: "Segoe UI";
  background: linear-gradient(to right, #eef2f3, #dfe9f3);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

/* SEARCH */
.search {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* FORM */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 25px;
}

.form input,
.form textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form textarea {
  grid-column: span 2;
}

.form button {
  grid-column: span 2;
  padding: 12px;
  background: linear-gradient(45deg, #007bff, #00c6ff);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.form button:hover {
  opacity: 0.9;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.company {
  font-weight: bold;
  color: #007bff;
}

/* BUTTONS */
.actions {
  margin-top: 10px;
}

.actions button {
  margin: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit {
  background: #ffc107;
}

.delete {
  background: #dc3545;
  color: white;
}

.empty {
  text-align: center;
  color: gray;
}